@page {
	margin: 10px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul, li, dl, dt, dd{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: justify;
    line-height: 140%;
}

h1{
	text-indent: 0;
	text-align: left;
	/*margin: 100px 0 0 0;*/
	font-size: 2.0em;
	font-weight: bold;
	page-break-before: always;
	line-height: 150%;
	/*gets squished otherwise on ADE */
}

h2{
	text-indent: 0;
	text-align: left;
	/*margin: 50px 0 0 0;*/
	font-size: 1.5em;
	font-weight: bold;
	page-break-before: always;
	line-height: 135%;
	/*get squished otherwise on ADE */
}

h3{
	text-indent: 0;
	text-align: left;
	font-size: 1.4em;
	font-weight: bold;
}

h4{
	text-indent: 0;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}

h5{
	text-indent: 0;
	text-align: left;
	font-size: 1.1em;
	font-weight: bold;
}

h6{
	text-indent: 0;
	text-align: left;
	font-size: 1.0em;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
	-webkit-hyphens: none !important;
	hyphens: none;
	page-break-after: avoid;
	page-break-inside: avoid;
}

p{
	text-indent: 1.25em;
	margin: 0;
	widows: 2;
	orphans: 2;
}

img{
	width: 100% !important;
	height:auto !important;
	-webkit-hyphens: none !important;
	page-break-after: avoid;
	page-break-inside: avoid !important;
}

ul{
	margin: 1em 0 0 2em;
	text-align: left;
}

ol{
	margin: 1em 0 0 2em;
	text-align: left;
}

table{
	margin: 1.0em auto;
}

tr, th, td{
	margin: 0;
	padding: 2px;
	border: 1px solid black;
	font-size: 100%;
	vertical-align: baseline;
}

.no-heading,
.invisible{
	display : none;
}

.alignright{
	text-align: right;
}

.signature{
	text-align: right;
	margin-right: 50px;
	margin-top: 100px;
}

// old style table of contents

.Contents1,
.content-1{
}

.Contents2,
.content-2{
	margin-left:18px;
}

.Contents3,
.content-3{
	margin-left:37px;
}

/*Class Baru*/
/*BOXES*/
.box p, .box ol, .box li{
	text-indent: 0.25em;
}
.center{
	margin: auto;
}
.box{
	margin: 10px 0px;
}
.box-border1{
	border-bottom: 5px solid;
	border-top: 5px solid;
	padding: 10px;
}
.box-border2{
	border: 8px solid;
	padding: 10px;
}
.box-round1{
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.box-round2{
	border-radius: 30px;
	padding: 10px;
	margin: 20px;
}
.box-floatleft{
	float: left;
	margin-right: 40px;
}
.box-floatright{
	float: right;
	margin-left: 40px;
}
.blue-line{
	border-color: #00A3D7;
}
.box-preview{
	width: 90%;
}
.box-tahukah1{
	width: 30%;
	background-color: #ffe9d7;
	margin-top: 40px;
}
.box-tahukah2{
	width: 60%;
	background-color: #ffe9d7;
	margin-top: 40px;
}
.box-tahukah3{
	width: 100%;
	background-color: #ffe9d7;
	margin-top: 40px;
}
.box-ayo{
	border-color: #c68c53;
	margin-top: 50px;
}
.box-ringkasan{
	background-color: #ffe9d7;
}
.judul-tahukah::before{
	content:url('assets/images/tahukah.png');
	width: 100%;
	height: auto;
	position: relative;
	top: -50px;
}
.judul-ayo-berlatih::before{
	content:url('assets/images/berlatih.png');
	width: 100%;
	height: auto;
	position: relative;
	top: -40px;
}
.judul-ayo-melengkapi::before{
	content:url('assets/images/melengkapi.png');
	width: 100%;
	height: auto;
	position: relative;
	top: -40px;
}
.judul-ayo-bekerja::before{
	content:url('assets/images/kerjasama.png');
	width: 100%;
	height: auto;
	position: relative;
	top: -40px;
}
.judul-ringkasan::before{
	content:url('assets/images/ringkasan.png');
	width: 100%;
	height: auto;
	position: relative;
	top: -40px;
}
.konten-tahukah{
	margin-top: -50px;
}
.konten-ayo, .konten-ringkasan{
	margin-top: -40px;
}


/*TEXT*/
.text-caption{
	margin-bottom: 10px;
	color: #00A3D7;
	text-indent: 0.25em;
}
.title-bab{
	color: #484e67;
	margin-bottom: 20px;
}
.panah{
	margin-bottom: 0px !important;
}
.panah::before{
	content:url('assets/images/panah.png');
	width: 70px;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}
.table-pink-tua{
	background-color: rgb(255, 153, 255);
}
.table-pink-muda{
	background-color: #ffccff;
}

.text-sumber{
	text-align: right;
	font-size: 80%;
}
.text-perintah{
	color:  #cc0033;
	font-weight: bold
}
.text-contoh{
	background-color: #ffe9d7;
	padding: 5px 5px;
	margin: 0px;
}
/*#content{

p.Gambar {
	text-align:center;
	margin-left:0;
	margin-right:0;
	margin-top:8.016px;
	margin-bottom:8.016px;
	border:none;
	padding:0;
	color:#00A3D7;
	text-indent: 0
}

	
.frameFrame {
	text-align:center;
	margin-left:7.5936px;
	margin-right:7.5936px;
	margin-top:7.5936px;
	margin-bottom:7.5936px;
	padding:5.6735997px;
	font-size:16.0px
}

.frameGraphics p {
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}

.frameFrame p {
	margin-left:7.5936px;
	margin-right:7.5936px;
	margin-top:7.5936px;
	margin-bottom:7.5936px;
}

p.hangingIndent{
	padding-left: 22px;
	text-indent:-22px;
}
.glossarium td:first-child{
	width:132px;
}

.glossarium td:last-child{
	padding-left: 10px;
}

.glossarium td{
	vertical-align: top;
}

h2,
h3{
	color:#00A3D7;
}

.tabel11 th, .tabel11 td {
	padding:0 0.5em;
}
.tabel11 td{
	background-color: #FFFCDE;
}
.tabel11 th{
	background-color: #FBCBB7;
}
.tabel11 th p{
	text-align: center;
}
.tabel11,
.tabel11 th,
.tabel11 td{
	border: 1px solid #000;
}
.small{
	font-size: 9px;
}
.title{
	text-align:center;
	color:#00A3D7;
	font-size:18px;
}
.story{
	background-color: #E0F3F7;
	padding: 1em;
}

p.hangingIndent{
	padding-left: 22px;
	text-indent:-22px;
}
.glossarium td:first-child{
	width:132px;
}

.glossarium td:last-child{
	padding-left: 10px;
}

.glossarium td{
	vertical-align: top;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}
p .info_left{
	float: left;
	margin: 1px 10px 1px 5px;
	display: block;
}
ol li{
	text-indent: 0;
}
*/